/* colors */
/* https://medium.com/shopify-ux/building-a-new-illustration-style-for-shopify-2b25dcf14117 */

@color-athens: #EDF1F3;
@color-geyser: #D9E1E7;
@color-cadet: #ACBBC5;
@color-regent: #8095A3;
@color-mako: #40464D;

@color-fountain: #51B3C3;
@color-aqua: #92CED7;
@color-iceberg: #D1ECF1;

@color-casablanca: #F7AD45;
@color-grandis: #FED38A;

@color-chestnut: #D56971;
@color-tonys: #E68A89;

@color-smoky: #5F5370;
@color-waterloo: #877D99;
@color-lavender: #BABAD6;

@color-olivine: #A2BF86;
@color-kidnapper: #E5EDD7;